{% extends 'base.html.twig' %}

{% block title %}Edition Conversion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Conversion</h1>
    </div>

    {{ include('conversions/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('conversions_index') }}">Retour</a>

    {{ include('conversions/_delete_form.html.twig') }}
</div>
{% endblock %}
