{% extends 'base.html.twig' %}

{% block title %}New Autorisations{% endblock %}

{% block body %}
    <h1>Create new Autorisations</h1>

    {{ include('autorisations/_form.html.twig') }}

    <a href="{{ path('autorisations_index') }}">back to list</a>
{% endblock %}
