{% extends 'base.html.twig' %}

{% block title %}Nouvelle Autorisations{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Autorisation</h1>
    </div>

    <br /><br />

    {{ include('autorisations/_form.html.twig') }}

    <a href="{{ path('autorisations_index') }}">Retour</a>
</div>
{% endblock %}
