{% extends 'base.html.twig' %}

{% block title %}Autorisation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Autorisation</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ autorisation.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('autorisations_index') }}">Retour</a>

    <a href="{{ path('autorisations_edit', {'id': autorisation.id}) }}">Edition</a>

    {{ include('autorisations/_delete_form.html.twig') }}
</div>
{% endblock %}
