{% extends 'base.html.twig' %}

{% block title %}Nouveau Etats{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Etat</h1>
    </div>

    <br /><br />

    {{ include('etats/_form.html.twig') }}

    <a href="{{ path('etats_index') }}">Retour</a>
</div>
{% endblock %}
