{% extends 'base.html.twig' %}

{% block title %}Edition Validation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Validation</h1>
    </div>

    {{ include('validations/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('validations_index') }}">Retour</a>

    {{ include('validations/_delete_form.html.twig') }}
</div>
{% endblock %}
