{% extends 'base.html.twig' %}

{% block title %}Nouvelle Validation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Validation</h1>
    </div>

    <br /><br />

    {{ include('validations/_form.html.twig') }}

    <a href="{{ path('validations_index') }}">Retour</a>
</div>
{% endblock %}
