{% extends 'base.html.twig' %}

{% block title %}New Validations{% endblock %}

{% block body %}
    <h1>Create new Validations</h1>

    {{ include('validations/_form.html.twig') }}

    <a href="{{ path('validations_index') }}">back to list</a>
{% endblock %}
