{% extends 'base.html.twig' %}

{% block title %}Edit PieceJointe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Piece-Jointe</h1>
    </div>

    {{ include('piece_jointe/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('piece_jointe_index') }}">Retour</a>

    {{ include('piece_jointe/_delete_form.html.twig') }}
</div>
{% endblock %}
