{% extends 'base.html.twig' %}

{% block title %}Nouvelle Piece-Jointe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Piece-Jointe</h1>
    </div>

    <br /><br />

    {{ include('piece_jointe/_form.html.twig') }}

    <a href="{{ path('piece_jointe_index') }}">Retour</a>
</div>
{% endblock %}
