{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Client</h1>
    </div>

    <br /><br />

    {{ include('clients/_form.html.twig') }}

    <a href="{{ path('clients_index') }}">Retour</a>
</div>
{% endblock %}
