{% extends 'base.html.twig' %}

{% block title %}Edit TypeProduits{% endblock %}

{% block body %}
    <h1>Edit TypeProduits</h1>

    {{ include('type_produits/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_produits_index') }}">back to list</a>

    {{ include('type_produits/_delete_form.html.twig') }}
{% endblock %}
