{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création nouveau Type de Produits</h1>
    </div>

    <br /><br />

    {{ include('type_produits/_form.html.twig') }}

    <a href="{{ path('type_produits_index') }}">Retour</a>
</div>
{% endblock %}
