{% extends 'base.html.twig' %}

{% block title %}Edition Mouvements{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Mouvements</h1>
    </div>

    {{ include('mouvements/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('mouvements_index') }}">Retour</a>

    {{ include('mouvements/_delete_form.html.twig') }}
</div>
{% endblock %}
