{% extends 'base.html.twig' %}

{% block title %}Edition Produits{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Produits</h1>
    </div>

    {{ include('produits/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('produits_index') }}">Retour</a>

    {{ include('produits/_delete_form.html.twig') }}
</div>
{% endblock %}
