{% extends 'base.html.twig' %}

{% block title %}Edition Unité{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Unité</h1>
    </div>

    {{ include('unites/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('unites_index') }}">Retour</a>

    {{ include('unites/_delete_form.html.twig') }}
</div>
{% endblock %}
