{% extends 'base.html.twig' %}

{% block title %}Nouveau Unité{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Unité</h1>
    </div>

    <br /><br />

    {{ include('unites/_form.html.twig') }}

    <a href="{{ path('unites_index') }}">Retour</a>
</div>
{% endblock %}
