{% extends 'base.html.twig' %}

{% block title %}Nouveau Access{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Création Acces</h1>
    </div>
    <br /><br />
    <div class="row">
        {{ include('access/_form.html.twig') }}

        <a href="{{ path('access_index') }}">Retour</a>
    </div>
</div>
{% endblock %}
